<!-- structural gallery images go here -->
<!-- Floor covering gallery images go here -->
<div class="row">
	<div class="large-3 colums sidebar">
		<ul>
			<li class="slider">◀</li>
			<% @projects.each do |project| %>
				<li class="project"><%= project.name %>
					<ul id="drop1" class="f-dropdown" data-dropdown-content>
						<li class="status"><%= project.architect %></li>
            <li class="status"><%= project.contractor %></li>
            <li class="status"><%= project.product %></li>
          </ul>
        </li>
			<% end %>
		</ul>
  </div>
  <div class="gallery">
		<div class="large-9 columns">
			<ul data-orbit>
				<% @images.each do |images| %>
					<%= images[0] %>
					<% if images[1].present? %>
						<% images[1].each do |image| %>
							<%= image_tag(image.asset.url) %>
						<% end %>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>