<!-- structural gallery images go here -->
<!-- Floor covering gallery images go here -->
<div class="large-3 medium-3 colums sidebar">
	<ul>
        <% ['floor_covering', 'interior', 'structural'].each do |project_type| %>
			<h5 class="gallery-division"><%= instance_variable_get("@#{project_type}_type").gsub('_', ' ').split.map(&:capitalize).join(' ') %></h5>
			<% instance_variable_get("@#{project_type}_projects").each do |project| %>
				<li class="project" data-id="<%= project.slug %>"><a><%= project.name %></a>
	                <ul class="dropdown" >
	                    <li class="status">Architect: <%= project.architect %></li>
	                    <li class="status">Contractor: <%=project.contractor%></li>
	                    <li class="status">Products: <%=project.product%></li>
	                </ul>
	            </li>
       		<% end %>
		<% end %>
	</ul>
	</div>

<div id="gallery-container" class="large-9 medium-9 columns">
	<% [[@floor_covering_images, @interior_images, @structural_images]].each do |type_images| %>
		<!-- projects within each type -->
		<% type_images.delete_if {|i| i.nil?}.flatten(1).each do |project| %>
			<div class="gallery" data-id="<%= project.first.downcase.gsub(' ', '-') %>">
				<h5 class="project-name"><%= project.first.upcase.gsub('-', ' ') %></h5>
				<ul class="orbit-2" data-orbit>
					<!-- types of images -->
					<% project.last.each do |image| %>
						<%= image_tag(image.asset.url) if image.present? %>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>