<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :architect %>
    <%= f.input :contractor %>
    <%= f.input :name %>
    <%= f.input :product %>
    <%= f.input :product_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
