<%= simple_nested_form_for @project do |f| %>
  <%= f.input :name %>
  <%= f.input :contractor %>
  <%= f.input :architect %>
  <%= f.input :product %>
  <%= f.input :product_type, collection: [['Flooring',1],['Interior',2],['Structural',3]] %>
  Images <%= f.link_to_add '+', :images, "data-target" => "#images" %>
  <div id="images">
    <%= f.fields_for :images do |image| %>
      <%= image.input :asset, label: false %>
    <% end %>
  </div>
  <%= f.button :submit %>
<% end %>