<h1>Listing projects</h1>

<table>
  <tr>
    <th>Architect</th>
    <th>Contractor</th>
    <th>Name</th>
    <th>Product</th>
    <th>Product type</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.architect %></td>
    <td><%= project.contractor %></td>
    <td><%= project.name %></td>
    <td><%= project.product %></td>
    <td><%= project.product_type %></td>
    <td><%= project.slug %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<span class="button">New Project</span>'.html_safe, new_project_path %>
