<div class="container">
  <div id="contact-container">
      <div id="maps-canvas" class="large-8 medium-8 small-12 columns">
        &nbsp;

      </div>
      <div id="contact-us" class="large-4 medium-6 small-12 columns">
        <h3>Contact Us</h3>


        <%= simple_form_for @inquiry do |f| %>
          <div class="row">
            <%= f.input :name, wrapper_html: {:class => "input-wrapper large-12 medium-12 columns"} %>
              <!-- <small class="error">We just want to know your name.</small> -->
            <!-- </div> -->
            <!-- <div class=> -->
            <!-- <label>Email</label>
              <input type="email" required> -->
            <%= f.input :email, wrapper_html: {:class => "input-wrapper large-12 medium-12 columns"} %>
              <!-- <small class="error">A valid email address would be greatly appreciated, thanks.</small> -->
            <!-- </div> -->
          </div>
          <div class="row">
            <!-- <div class=> -->
              <!-- <label>Company</label> -->
              <!-- <input type="text"> -->
            <%= f.input :company, wrapper_html: {:class => "input-wrapper large-6 small-6 columns"} %>

            <!-- </div> -->
            <%= f.input :phone, placeholder: "(555) 883-2222", wrapper_html: {:class => "input-wrapper large-6 small-6 columns"} %>
            <!-- <div class=> -->
              <!-- <label>Phone</label> -->
              <!-- <input type="integer" placeholder= /> -->
              <!-- <small class="error">Phone number please</small> -->
            <!-- </div> -->
          </div>
          <div class="row">
            <%= f.input :content, :placeholder => 'How can we better assist you?', wrapper_html: {:class => "large-12 columns"}  %>
            <!-- <div class=> -->
              <!-- <label>Inquiry</label> -->
              <!-- <textarea placeholder="How can we better assist you?"></textarea> -->
            <!-- </div> -->
          </div>
          <%= f.button :submit, :class => "button large-12 columns" %>
          <!-- # <a href="#" class=>Submit</a> -->
        <% end %>

      </div>
    </div>

      

      <div id="contact" class="large-12 columns">

        <section class="office">
          <div class="location">
            <div class="row">
             <img src="https://s3.amazonaws.com/bt_mancini/site-images/map-blue.png" class="icon" alt="B.T.Mancini Inc"/>
              <h4>Headquarters</h4>
            </div>
            <p class="adr">
              <span class="street-address">876 S. Milpitas Blvd.</span><br>
              <span class="region">Milpitas, CA</span>
              <span class="postal-code">95035</span>
            </p>

            <div class="phone">
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/phone-blue.png" class="icon" alt="B.T.Mancini Inc"/><a href="tel://408.942.7900">(408) 942&shy;-7900</a>
          </div>

            
            <!--img src="https://s3.amazonaws.com/bt_mancini/site-images/mail.png" class="icon" alt="B.T.Mancini Inc"/>
            <h4>Mailing Address</h4>
            <p class="adr">
              <span>P.O. Box 361930</span>
              <span>Milpitas, CA</span>
              <span>95036</span>
            </p-->
          </div>
        </section>


        <section class="office">
          <div class="location">
            <div class="row">
             <a href="index.html"><img src="https://s3.amazonaws.com/bt_mancini/site-images/map-blue.png" class="icon" alt="B.T.Mancini Inc"/></a>
              <h4>Sacramento, CA</h4>
            </div>
            <p class="adr">
              <span class="street-address">8571 23rd Ave</span><br>
              <span class="region">Sacramento, CA</span>
              <span class="postal-code">95826</span>
            </p>

            <div class="phone">
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/phone-blue.png" class="icon" alt="B.T.Mancini Inc"/><a href="tel://916.381.3660">(916) 381&shy;-3660</a>
          </div>

            
            <!--img src="https://s3.amazonaws.com/bt_mancini/site-images/mail.png" class="icon" alt="B.T.Mancini Inc"/>
            <h4>Mailing Address</h4>
            <p class="adr">
              <span>P.O. Box 276128</span>
              <span>Sacramento, CA</span>
              <span>95827</span>
            </p-->
          </div>
        </section>

        <section class="office">
          <div class="location">
            <div class="row">
             <a href="index.html"><img src="https://s3.amazonaws.com/bt_mancini/site-images/map-blue.png" class="icon" alt="B.T.Mancini Inc"/></a>
              <h4>Santa Rosa, CA</h4>
            </div>
            <p class="adr">
              <span class="street-address">2985 Dutton Ave #1</span>
              <span class="region">Santa Rosa, CA</span>
              <span class="postal-code">95407</span>
            </p>

            <div class="phone">
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/phone-blue.png" class="icon" alt="B.T.Mancini Inc"/><a href="tel://408.942.7900">(408) 942&shy;-7900</a>
          </div>
          </div>
        </section>
        <section class="office">
          <div class="location">
            <div class="row">
              <a href="index.html"><img src="https://s3.amazonaws.com/bt_mancini/site-images/map-blue.png" class="icon" alt="B.T.Mancini Inc"/></a>
              <h4>Fresno, CA</h4>
            </div>
            <p class="adr">
              <span class="street-address">1954 N Gateway Blvd #103</span>
              <span class="region">Fresno, CA</span>
              <span class="postal-code">93727</span>
            </p>

            <div class="phone">
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/phone-blue.png" class="icon" alt="B.T.Mancini Inc"/><a href="tel://408.942.7900">(408) 942&shy;-7900</a>
          </div>
          </div>
        </section>
        <section class="office">
          <div class="location">
           <a href=""><img src="https://s3.amazonaws.com/bt_mancini/site-images/map-blue.png" class="icon" alt="B.T.Mancini Inc"/></a>
            <h4>Reno, NV</h4>
            <p class="adr">
              <span class="street-address">5350 Capital Ct #106</span><br>
              <span class="region">Reno, NV</span>
              <span class="postal-code">89502</span>
            </p>

            <div class="phone">
            <img src="https://s3.amazonaws.com/bt_mancini/site-images/phone-blue.png" class="icon" alt="B.T.Mancini Inc"/><a href="tel://775.858.3400">(775) 858&shy;-3400</a>
          </div>
          </div>
        </section>
      </div>
    </div>