<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "B.T. Mancini" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!-- GOOGLE GOODS-->
    <link href='http://fonts.googleapis.com/css?family=News+Cycle|Istok+Web|Yanone+Kaffeesatz:200,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEfCRwQRLvLNUChS48i-dJxuYP6zF1pfs&sensor=false">
    </script>


  </head>

  <body>
    <%= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
    

<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

  </body>
</html>